//grid
.grid {
  display: grid;
}

// flex
.flex {
  display: flex !important;
}

// margin-top
@for $i from 0 through 100 {
  .mt-#{$i*2} {
    margin-top: 2px * $i !important;
  }
}

// margin-bottom
@for $i from 0 through 100 {
  .mb-#{$i*2} {
    margin-bottom: 2px * $i !important;
  }
}

// space-around
.justify-around {
  justify-content: space-around;
}

.errorText {
  color: red !important;
  margin-left: 40px !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

//padding-top
@for $i from 0 through 30 {
  .pt-#{$i*2} {
    padding-top: 2px * $i !important;
  }
}

// pointer
.cursor-pointer {
  cursor: pointer !important;
}

// flex column
.flex-col {
  flex-direction: column !important;
}

// --------- font-weights ----------
$weights: 100, 200, 300, 400, 500, 600, 700;

@each $weight in $weights {
  .weight-#{$weight} {
    font-weight: $weight;
  }
}

@for $i from 1 through 42 {
  .text-#{$i} {
    font-size: $i + "px";
  }
}

.inputField {
  width: 325px !important;
  height: 32px !important;
  // margin-left: 10px !important;
  margin-top: 10px !important;
}

//margin-left
@for $i from 0 through 200 {
  .ml-#{$i*2} {
    margin-left: 2px * $i !important;
  }
}

// margin-right
@for $i from 0 through 100 {
  .mr-#{$i*2} {
    margin-right: 2px * $i !important;
  }
}

.justify-between {
  justify-content: space-between;
}

// height
@for $i from 0 through 30 {
  .height-#{$i*2} {
    height: 2px * $i !important;
  }
}

.UserImage {
  width: 300px;
  height: 180px;
  border-bottom: 1px solid lightgray;
}

.greyColor {
  color: gray !important;
}
